body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    color: #ffffff;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem; /* Adjusted padding */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Added shadow for a sleek look */
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo-link {
    color: #ff6347;
    text-decoration: none;
    font-size: 1.2rem; /* Adjusted font size */
    font-weight: bold;
    margin-left: 1rem;
}

.header-middle {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    max-width: 500px; /* Restrict max width */
    margin: 0 auto;
}
/* Search Bar and Button */
.search-bar {
    padding: 0.4rem;
    font-size: 0.9rem; /* Adjusted font size */
    border: none;
    border-radius: 4px;
    width: 250px; /* Adjusted width */
    margin-right: 0.5rem;
}

.search-button {
    padding: 0.4rem 0.8rem; /* Adjusted padding */
    border: none;
    border-radius: 4px;
    background-color: #ff6347;
    color: #fff;
    cursor: pointer;
    font-size: 0.9rem; /* Adjusted font size */
}

.search-button:hover {
    background-color: #e5533c;
}

/* Home Link */
.home-link {
    color: #87cefa;
    text-decoration: none;
    font-size: 0.9rem; /* Adjusted font size */
    margin-right: 2rem;
}

.home-link:hover {
    color: #ff6347;
}

main {
   display: flex;
   flex-direction: column;
   padding-top: 80;
   width: 100%;
}

.container {
    padding: 20px;
    margin: auto;
    border-radius: 12px;
    background: rgba(34, 34, 34, 0.8);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color : #ffffff;
}

h1 {
    text-align: center;
    color: #ff6347;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.relation-item {
    /* background: #444; */
    border: 1px solid #666;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.relation-item h2 {
    color: #ff6347;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.relation-item p {
    color: #bbbbbb;
    margin-bottom: 10px;
    font-size: 1.1em;
}

.relation-item ul {
    list-style: none;
    padding: 0;
}

.back-home-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: #2c3e50;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.back-home-button:hover {
    background-color: #34495e;
    transform: translateY(-3px);
}

/* Footer Styling */
footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
}

footer a {
    color: #87cefa;
    text-decoration: none;
}

footer a:hover {
    color: #ff6347;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}