<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/artistProfile.css">
    <title>{{.Artist.Name}} Profile</title>
</head>
<body>
    <header>
        <div class="header-container">
            <a href="/" class="logo-link">
                <h3>Groupie-Tracker</h3>
            </a>
            <div class="header-middle">
                <form  id="search-form" action="/search" method="GET">
                    <input type="text" class="search-bar" name="query" placeholder="Search by name">
                    <button type="submit" class="search-button">Search</button>
                </form>
            </div>
            <a href="/" class="home-link">Home</a>
    </header>
    <main>
    </div>
    <div class="logo">
        <h1>{{.Artist.Name}}</h1>
        <p>Explore the Journey of {{.Artist.Name}}</p>
    </div>

        <div class="artist-profile-container">
            <div class="artist-details">
                <img src="{{.Artist.Image}}" alt="image of {{.Artist.Name}}">
                <p><strong>ID:</strong> {{.Artist.Id}}</p>
                <p><strong>Members:</strong></p>
                <ul>
                {{range .Artist.Member}}
                    <li>{{.}}</li>
                {{end}}
                </ul>
                <p><strong>Creation Date:</strong> {{.Artist.CreationDate}}</p>
                <p><strong>First Album:</strong> {{.Artist.FirstAlbum}}</p>
            </div>
        </div>

        <div class="locations-container">
            <h2>Concert Locations</h2>
            {{range .Locations}}
                <div class="location-item">
                    <h3>Id: {{.Id}}</h3>
                    <p>Date: <a href="{{.Date}}" target="_blank">{{.Date}}</a></p>
                    <ul>
                    {{range .Locations}}
                        <li>{{.}}</li>
                    {{end}}
                    </ul>
                </div>
            {{end}}
        </div>

        <div class="concert-dates-container">
            <h2>Concert Dates</h2>
            {{ if .ConcertDates }}
                {{ range .ConcertDates }}
                    <div class="concert-item">
                        <h3>Concert ID: {{.Id}}</h3>
                        <ul class="concert-list">
                            {{range .Dates}}
                                <li>{{.}}</li>
                            {{ end }}
                        </ul>
                    </div>
                {{ end }}
            {{ else }}
                <p class="no-dates">No concert dates available.</p>
            {{ end }}
        </div>

        <div class="relations-container">
            <h2>Relations</h2>
            {{ if .Relations }}
                {{ range .Relations }}
                    <div class="relation-item">
                        <h3>Relation ID: {{.Id}}</h3>
                        <ul>
                            {{range $date, $locations := .DatesLocation}}
                                <li>{{ $date }}:
                                    <ul>
                                        {{range $locations}}
                                            <li>{{.}}</li>
                                        {{end}}
                                    </ul>
                                </li>
                            {{end}}
                        </ul>
                    </div>
                {{ end }}
            {{ else }}
                <p>No relations available.</p>
            {{ end }}
        </div>
        
        <a href="/" class="back-home-button">Back to Home Page</a>
    </main>
    <footer>
        <p>&copy; 2024 Music Legends. All rights reserved.</p>
    </footer>
</body>
</html>
