<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Artists</h1>
    <div class="artists-container">
        {{range .}}
        <div class="artist-card">
            <a href="/details?id={{.ArtistID}}" class="artist-link"> <!-- Make the whole card clickable -->
                <div class="artist-details">
                    <h2>{{.ArtistName}}</h2>
                    <img id="{{.ArtistID}}" src="{{.ArtistImage}}" alt="Artist Image">
                    <p>Started: {{.CreationDate}}</p>
                    <p>First Album: {{.FirstAlbum}}</p>
                </div>
            </a>
        </div>
        {{end}}
    </div>
    <footer>
        <p>&copy; 2024 Groupie Tracker. All rights reserved.</p>
    </footer>
</body>
</html>
