<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>
        let debounceTimer;
        async function fetchSuggestions() {
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(async () => {
                const query = document.getElementById('search-input').value;
                if (query.length < 1) {
                    document.getElementById('suggestions').innerHTML = '';
                    return;
                }
                const response = await fetch(`/search?query=${query}`);
                const suggestions = await response.json();
                const suggestionsList = document.getElementById('suggestions');
                suggestionsList.innerHTML = '';

                suggestions.forEach(suggestion => {
                    const li = document.createElement('li');
                    li.textContent = suggestion;
                    suggestionsList.appendChild(li);
                });
            }, 300); // Adjust the delay as needed
        }
    </script>
</head>
<body>
    <h1>Artists</h1>

    <form method="get"  action="/">
        <input name="searchText" type="text" id="search-input" value={{.Query}} class="search-input" onkeyup="fetchSuggestions()" placeholder="Search for artists, members, etc.">
    </form>

    <ul id="suggestions"></ul>
    <div class="artists-container">
        {{range .Data}}
        <div class="artist-card">
            <a href="/details?id={{.ArtistID}}" class="artist-link"> <!-- Make the whole card clickable -->
                <div class="artist-details">
                    <h2>{{.ArtistName}}</h2>
                    <img id="{{.ArtistID}}" src="{{.ArtistImage}}" alt="Artist Image">
                    <p>Started: {{.CreationDate}}</p>
                    <p>First Album: {{.FirstAlbum}}</p>
                </div>
            </a>
        </div>
        {{end}}
    </div>
    
    <footer>
        <p>&copy; 2024 Groupie Tracker. All rights reserved.</p>
    </footer>
</body>
</html>
