<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/tmp.css">
    <title>Concert Locations</title>
</head>
<body>
    <header>
        <div class="header-container">
            <a href="/" class="logo-link">
                <h3>Groupie-Tracker</h3>
            </a>
            <div class="header-middle">
                <form  id="search-form" action="/search" method="GET">
                    <input type="text" class="search-bar" name="query" placeholder="Search by name">
                    <button type="submit" class="search-button">Search</button>
                </form>
            </div>
            <a href="/" class="home-link">Home</a>
        </div>
    </header>
    <main>
        <div class="logo">
            <h1>Music Legends</h1>
            <p>Discover the Icons of Music</p>
        </div>
        <div class="container">
            <h1>Concert Locations</h1>
            {{range .}}
                <div class="location-item">
                    <h2>Id: {{.Id}}</h2>
                    <p>Date: <a href="{{.Date}}" target="_blank">{{.Date}}</a></p>
                    <ul>
                        {{range .Locations}}
                            <li>{{.}}</li>
                        {{end}}
                    </ul>
                </div>
            {{end}}
            <a href="/" class="back-home-button">Back to Home Page</a>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Music Legends. All rights reserved.</p>
        <p>Explore the legendary artists and their iconic works. For more information, visit our <a href="#">about page</a>.</p>
    </footer>
</body>
</html>